<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085900758701-nljclr924aracot2v8v5s2gemnq5e9ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085900758701-nljclr924aracot2v8v5s2gemnq5e9ds</string>
	<key>API_KEY</key>
	<string>AIzaSyBLqAXKbw-DdMaabv8sPwbD-XC1vg5DSvo</string>
	<key>GCM_SENDER_ID</key>
	<string>1085900758701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>engineer.wasd0109ken.demo</string>
	<key>PROJECT_ID</key>
	<string>safety-app-2416d</string>
	<key>STORAGE_BUCKET</key>
	<string>safety-app-2416d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085900758701:ios:21838b6758c91fdf80f024</string>
</dict>
</plist>